

<h1>Green Kitchen</h1>
<header style= "margin-bottom: 25px">
Inspirational Recycling Video, for your Kitchen
</header>

<iframe width="350" height="350" src="https://www.youtube.com/embed/pZhYKeJJm4Y" frameborder="0" allowfullscreen></iframe>

<iframe width="350" height="350" src="https://www.youtube.com/embed/z_ZKcbIb_SU" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/pZhYKeJJm4Y" frameborder="0" allowfullscreen></iframe>


    <section id="external-links">
        <h1>Resource Links</h1>
        <ul>
            <li><a href="https://engreenhorizon.wordpress.com/">The Green Horizon</a></li>
            <li><a href="https://www.pinterest.com/explore/chain-links/">Pinterest Ideas</a></li>
            <li><a href="http://earth911.com/">Earth911</a></li>
        </ul>
    </section>



























<div><%= link_to 'Back', topics_path %></div>
