

<h1>Green Kitchen</h1>

<iframe width="350" height="350" src="https://www.youtube.com/embed/pZhYKeJJm4Y" frameborder="0" allowfullscreen></iframe>
































<div><%= link_to 'Back', topics_path %></div>
